.container>div:first-child {
    background-color: rgba(27, 27, 27, 0.596);
    border-bottom-right-radius: 20px;
    border-top-right-radius:20px;
}

.container>div:nth-child(2) {
    background-color: rgba(39, 39, 43, 0.596);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.container>div>div>div {
    background-color: rgba(27, 27, 27, 0);
    color: aqua;
}

.gride>div {
    background-color: rgba(27, 27, 27, 0);
    color: aqua;
}

.main-info {
    background: linear-gradient(45deg, rgb(36, 36, 39)20%, rgb(108, 116, 128) 99%);
}

.day:first-child {
    background: linear-gradient(45deg, rgb(36, 36, 39)20%, rgb(108, 116, 128) 99%);
}

.header-dark-mode div:last-child {
    background-color: rgb(255, 166, 0);
    color: white;
}

.city-Sunrise-sunset {
    background: none;
}

.gray,
.c-time,
.Sunrise-sunset-box .name {
    color: aqua;
}

.Event {
    background: none;
    border: 1px solid rgb(0, 162, 255);
    box-shadow: 0px 0px 6px aqua;
}

.header .date {
    color: white;
}

@media only screen and (max-width:1080px){
    .container>div:first-child {
        border-bottom-right-radius: 0px;
    }
    
    .container>div:nth-child(2) {
        border-top-left-radius: 0px;
    }
}