.container>div:first-child {
    background-color: rgba(255, 255, 255, 0.596);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container>div:nth-child(2) {
    background-color: rgb(217, 221, 233, 0.596);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main-info {
    background: linear-gradient(45deg, rgb(75, 154, 250)20%, rgb(156, 187, 236) 99%);
}

.day:first-child {
    background: linear-gradient(45deg, rgb(75, 154, 250)20%, rgb(156, 187, 236) 99%);
}

.header-dark-mode div:first-child {
    background-color: rgb(68, 134, 255);
    color: white;
}

.Event {
    box-shadow: 1px 1px 3px black, -1px -1px 3px white;
}

.orange {
    background: rgba(255, 102, 0, 0.596);
    color: rgb(255, 255, 254);
}

.day,.header-dark-mode,.Different-dates,.info-year,.Sunrise-sunset {
    background-color: rgba(253, 253, 253, 0.493);
}

@media only screen and (max-width:1080px){
    .container>div:first-child {
        border-bottom-right-radius: 0px;
    }
    
    .container>div:nth-child(2) {
        border-top-left-radius: 0px;
    }
}