@font-face {
    font-family: "IranSansDN";
    src: url("font/IranSansDN.ttf");
}

* {
    font-family: "IranSansDN";
}

body {
    background-color: rgb(128, 167, 241);
    direction: rtl;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
}
.main-info {
    grid-column: 1;
    background: linear-gradient(45deg, rgb(75, 154, 250)20%, rgb(156, 187, 236) 99%);
    width: 95%;
    /* height: 487px; */
    height: 80vh;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: -1px 1px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.m-i-top .select select,
.citys .select select {
    font-family: "IranSansDN";
    background: transparent;
    border: none;
    border-radius: 20px;
    color: white;

}

.temperature {
    font-size: 4rem;
}

.Wind-humidity {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.wind,
.humidity {
    display: flex;
    justify-content: space-between;
}

.citys {
    grid-column: 1;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin: 20px auto;
    box-shadow: -1px 1px 5px gray;
}

.pink {
    background: linear-gradient(45deg, #F2789F 20%, #F9C5D5 99%);
}

.orange {
    background: linear-gradient(45deg, #FFB319 20%, #FFE194 99%);
}

.citys .temperature {
    text-align: center;
    font-size: 25px;
}

.p-Wind-humidity div {
    width: 150px;
}





.header {
    height: 140px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 30px;

}

.header-time-date {
    color: rgb(68, 134, 255);
    font-size: 3rem;
    text-shadow: 1px 1px 3px black;
}

.header .date {
    font-size: .8rem;
    color: black;
    text-align: left;
    text-shadow: none;
}

.header-dark-mode {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    width: 90px;
    height: 50px;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    box-shadow: 1px 1px 1px gray, -1px -1px 1px white;
}

.header-dark-mode div {
    color: gray;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-dark-mode div:hover {
    background-color: rgb(68, 134, 255);
    color: white;
}



.alert {
    color: rgb(0, 88, 252);
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 3px gray;
}




.Week {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    width: 95%;
    margin-bottom: 200px;
}
.day {
    background-color: rgb(247, 247, 247);
    color: black;
    width: 90%;
    height: 200%;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgb(80, 80, 80),-1px -1px 2px white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
.day:first-child {
    background: linear-gradient(45deg, rgb(75, 154, 250)20%, rgb(156, 187, 236) 99%);
    color: white;
    font-weight: bold;
}






.buttom{
    display: grid;

    grid-template-columns: 1fr 1fr;
    /* flex-direction: row;
    justify-content: space-evenly;
    margin: 10px auto; */
}
.buttom>div{
    width: 90%;
    margin: 10px auto;
}
    
.Different-dates{
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    box-shadow: -1px -1px 6px gray;
    text-align: center;
    justify-content: center;
}
.Different-dates>div{
    display: flex;
    justify-content: space-around;
}



.info-year{
    box-shadow: 1px 1px 10px gray;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}




.Sunrise-sunset{
    box-shadow: 1px 1px 10px gray;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 10px;
}
.gray .select select{
    color: gray;
}

.city-Sunrise-sunset{
    background-color: rgba(255, 224, 230, 0.808);
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-radius: 20px;
    align-items: center;
}
.sunrise-top{
    text-align: center;
    margin-top: 20px;
}
.city-Sunrise-sunset .Sunrise-sunset-box{
    display: flex;
    margin: 0px 20px 10px 20px;
}
.icon-Sunrise-sunset{
    color: rgb(255, 208, 0);
    font-size: 3rem;
    margin-left: 10px;
    
}
.Sunrise-sunset-box .name{
    color: gray;
    font-size: 14px;
}
.c-time{
    color: blue;
    font-size: 18px;
}
.info-Sunrise-sunset{
    display: flex;
}



.city-iran{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}




@media only screen and (max-width:1080px) {
    *{
        font-size:xx-large;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .Wind-humidity {
        width: 40%;
    }

    .citys {
        display: none;
    }
    .day{
        width: 85%;
    }
    .main-info {
        height: 100vh;
        border-radius: 20px;
    }
   
}

@media only screen and (max-width:991px) {
    
    .Week {
        grid-template-columns: 1fr;
    }
    .day{
        height: 200px;
        flex-direction: row;
    }
    
}

@media only screen and (max-width:768px) {
    *{
        font-size:xxx-large;
    }
    .buttom{
        grid-template-columns: 1fr;
    }
    .info-Sunrise-sunset{
        flex-direction: column;
    }
}







/* .Body{
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    padding: 4%;
}


.part-1{
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.part-2{
    background-color: rgb(217, 221, 233);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Header{
    margin-top: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}





